<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- по този начин подавайки му в компонента title тя ще се рендерира тук -->
  <h1>Welcome to {{ title }}!</h1>
</div>
<!-- ngModel по този начин означава, че когато вкараме нещо в това инпут поле то ще се сетне директно стойността на полето в "", което е декларирано в класа на компонентата, а оттам ще се рендерира директно и тук в {{name}}, за да стане обаче трябва да се подаде в модула FormsModule -->
<input type="text" [(ngModel)]="name" /><br />
{{ name }}
<h2>Here are some links to help you start:</h2>
