<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <!-- [ngClass]={odd} - добавяме класове към елемента -->
          <li
            class="list-group-item"
            *ngFor="let number of oddNumbers"
            [ngClass]="{odd}"
          >
            {{ number }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" *ngFor="let number of evenNumbers">
            {{ number }}
          </li>
        </div>
      </ul>
      <!-- така си добавяме нашата директива  -->
      <p appBasicHighLight></p>
      <!-- тук си подаваме директивата със съответния и селектор и вече можем да си добавяме пропъртита, които ще се баийнднат с нея и ще си променят стойностите и -->
      <p
        appBetterHighlight
        [defailtColor]="'yellow'"
        [highlightColor]="'red'"
      ></p>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <div *appUnless = "onlyOdd"></div>
    </div>
  </div>
</div>
